body {
	padding-top: 0px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
	/* background-color: #709dc4; */
}

a {
	text-decoration: none;
}

hr {
	margin: 15px 0 15px 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0px;
  margin-top: 0px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 600px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
	margin-bottom: 0;
	width: auto;
  }
  .navbar-inner {
	border-radius: 0;
	margin: -20px 0;
  }

  .carousel .item {
	height: 600px;
  }
  .carousel img {
	width: auto;
	height: 600px;
  }

  .featurette {
	height: auto;
	padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
	display: block;
	float: none;
	max-width: 40%;
	margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
	margin: -20px;
  }

  .carousel {
	margin-left: -20px;
	margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
	height: 300px;
  }
  .carousel img {
	height: 300px;
  }
  .carousel-caption {
	width: 65%;
	padding: 0 70px;
	margin-top: 100px;
  }
  .carousel-caption h1 {
	font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
	font-size: 18px;
  }

  .marketing .span4 + .span4 {
	margin-top: 40px;
  }

  .featurette-heading {
	font-size: 30px;
  }
  .featurette .lead {
	font-size: 18px;
	line-height: 1.5;
  }

}

/*----------------------------HEADER-----------------------------*/

div {
	border-radius: 10px;
}

.header {
	height: 50px;
	background-color: #69D2E7;
	width: 80%;
	margin: 10px auto;
}

.header-box {
	height: 50px;
	width: 15%;
	display: inline-block;
	font-family: Sans-serif;
	font-size: 20px;
	text-align:center;
	line-height:45px;
	color: white;
	float: right;
}

.logo {
	float:left;
	color: white;
	font-size: 26px;
	margin-top:12px;
	margin-left:12px;
	font-family: Sans-serif;
	display: inline-block;
}


.center {
	/* height : 600px; */
	margin: 0px auto 10px auto;
	float : left;
	overflow: auto;
}

.left-blank {
	width: 10%;
}

/* .left {
	width: 16%;
	background-color: #A7DBD8;
}
*/
.middle {
	width: 80%;
	/* background-color: #E0E4CC; */
}

.right-blank {
	width: 10%;
}

.footer {
	height: 50px;
	background-color: #69D2E7;
    clear: both;
	width: 80%;
	margin: 0px auto;
}

.hide {
	display: none;
}


/*----------------------------LOGIN-----------------------------*/
#login-error {
	color : red;
}

#login-success {
	color : green;
}

.alert {
	width: 40px;
}

.form-signin {
	max-width: 350px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}


/************************* Project ****************************/

textarea { 
    resize: none; 
}

/************************* Milestone and Comment ****************************/
.itemBox {
	border: 1px solid #69D2E7;
	margin: 10px auto;
	padding: 10px 10px;
	background-color: #F7F7F7;
}

.itemOpButton {
	float: right;
}

.itemOpAddButton {
	float: right;
	padding: 10px 10px;
}